.main {
  background-color: darkslategray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  padding: 5px;
  color: white;
  border-bottom: 1px solid white;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: blue;
  border-color: blue;
}
.activeNavLink {
  color: blue;
  border-color: blue;
}

.button {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  font-weight: 600;
  transition: all 1s cubic-bezier(1, 0, 0, 1);
}

.button:hover {
  background-color: white;
  color: darkslategray;
}
