.car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(244, 247, 248);
  width: 80%;
  height: 30%;
}

.img {
  width: 33%;
  height: 33%;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 10px;
}

.text {
  border-top: 1px solid slategray;
}

.addButton .message {
  justify-self: end;
  width: 150px;
}

.message {
  width: 150px;
}
